extends ../shared/_layout.pug

block content

    h1  Client regulier
    table.table.table-striped.table-bordered(id="profileGrid")
        thead
            tr
                th user
                th Nombre de Vue
                th Nombre de clique
        tbody

            tr
                td user1
                td 100
                td 100
    hr
    hr
    hr

    h1  Client cible
    table.table.table-striped.table-bordered
        thead
            tr
                th User
                th Nombre de Vue
                th Nombre de clique
        tbody

                tr
                    td user2
                    td 100
                    td 100

block javascript
    script(src="/javascripts/profile.js")