extend ../shared/_layout.pug
block content
    if clients.length > 0
        div(class="chart-container")
            p Système d'exploitation utilisés
            canvas(id="OSChart")
        div(class="chart-container")
            p Nombre d'utilisateurs par pays
            canvas(id="CountryChart")
        div(class="chart-container")
            p Résolution d'écran des utilisateurs
            canvas(id="ResolutionChart")
        div(class="chart-container")
            p Navigateur internet des utilisateurs
            canvas(id="BrowserChart")
    else 
        h2 Aucune donnée disponible pour l'instant


block javascript
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js")
    script(type="text/javascript").
        var data = JSON.parse('!{JSON.stringify(clients)}');
    script(src="/javascripts/statistique.js")