extends ../shared/_anonymous.pug
block content
    div.container
        div.row
            div.Absolute-Center.is-Responsive
                h4.card-title.mt-3.text-center Create Account
                form(action="/register", method="post")
                    div.form-group.input-group
                        div.input-group-prepend
                            span.input-group-text
                                i.fa.fa-user
                        input.form-control(name="username", placeholder="Username" type="text")
                    div.form-group.input-group
                        div.input-group-prepend
                            span.input-group-text
                                i.fa.fa-users
                        select.form-control
                            option(selected="") Select a role
                            each role in roles
                                option= role
                    div.form-group.input-group
                        div.input-group-prepend
                            span.input-group-text
                                i.fa.fa-lock
                        input.form-control(name="password", placeholder="Password" type="password")
                    div.form-group.input-group
                        div.input-group-prepend
                            span.input-group-text
                                i.fa.fa-lock
                        input.form-control(name="passwordConfirmation", placeholder="Repeat password" type="password")
                    div.form-group
                        button.brn.btn-primary.btn-block(type="submit") Create Account
                    p.text-center Have an account? &nbsp;
                        a(href="/login") Log In



