extends ../shared/_anonymous.pug
block content
    div.container
        div.row
            div.Absolute-Center.is-Responsive
                h4.card-title.mt-3.text-center Créer un compte
                form(action="/register", method="post")
                    div.form-group.input-group
                        div.input-group-prepend
                            span.input-group-text
                                i.fa.fa-user
                        input.form-control(name="username", placeholder="Nom d'utilisateur" type="text")
                    div.form-group.input-group
                        div.input-group-prepend
                            span.input-group-text
                                i.fa.fa-users
                        select.form-control(name="role")
                            option(selected="") Sélectionner un rôle
                            each role in roles
                                option= role
                    div.form-group.input-group
                        div.input-group-prepend
                            span.input-group-text
                                i.fa.fa-lock
                        input.form-control(name="password", placeholder="Mot de passe" type="password")
                    div.form-group.input-group
                        div.input-group-prepend
                            span.input-group-text
                                i.fa.fa-lock
                        input.form-control(name="passwordConfirmation", placeholder="Répéter le mot de passe" type="password")
                    div.form-group
                        button.brn.btn-primary.btn-block(type="submit") Créer un compte
                    p.text-center Vous avez déjà un compte? &nbsp;
                        a(href="/login") Se connecter



