extends ../shared/_error.pug

block content
  .wrapper
    h1 Hmm.
    p It seems that you're lost in a perpetual black hole. Let us help guide you out and get you back home.
    .buttons
      a(href="#") back
      a(href="#") home
      br
      span Help me out

  .space
    .blackhole
    .ship