- const uniqueId = uuidv4();

div.col-sm-6.col-md-6.pb-5
    div.card.border-secondary
        div.card-body
            input.displaynone(id="banner64", name="banners[" + uniqueId + "][image]")
            div.row.form-group
                div.col-md-6
                    label Format de la bannière
                    select.form-control(name="banners[" + uniqueId + "][type]")
                        each type in campaignTypes
                            option(value=type.key)= type.text
                div.col-md-6
                    label Url
                    input.form-control(name="banners[" + uniqueId + "][url]", type="text")
            div.row.from-group
                div.col-md-12
                    label Image publicitaire
                    div.upload-msg Téléversez une image
                    div.upload-wrapper
                        div(id="banner-container")
            div.col-md-12.text-center
                a.btn.btn-info.upload-button
                    span Upload
                    input(type="file", id="upload", accept="image/*")