extends ../shared/_layout.pug

block content
    div.page-actions
        h3 Create a profile

    form(method="post", action="/profile/create")
        div.form-group
            label Name
            input.form-control(name="name", type="text")
        div.form-group
            label Url
            input.form-control(name="url", type="text")
        button.btn.btn-primary(type="submit") Save