extends ../shared/_layout.pug

block content
    link(rel='stylesheet', type='text/css')

    h1 Instructions

    div(class="content")
        br
        h3 Étape 1
        include instruction-1.pug
        br
        h3 Étape 2
        include instruction-2.pug
        h3 Étape 3
        p Faire de l'argent en réclamant vos dus   
            a(href=`/income`) ici
    
block javascript
    script(src="/javascripts/instruction.js")
    script(src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js")
    script(src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=desert")

