
h4 Ajouter ce code javascript à votre site web.
p Note : Il se peut que nous accédions aux informations de vos utilisateurs.
h5 Le code javascript
pre(class="prettyprint" data-tippy="Cliquez pour copier" data-tippy-arrow="true") 
    |#{instructions.javascript}
