
h4 Afin d'afficher la publicité sur votre site web, vous devez ajouter les tags html suivants à votre html
p Les dimensions sont de 200px par 400px (horizontal ou vertical) et 200px par 200px pour le mobile.
p Note 1 : Il est impossible d'afficher une publiicité mobile avec un autre type de publicité.
p Note 2 : Il est possible d'afficher une banière horizontale et verticale sur la même page.
h5 Banière horizontale
pre(class="prettyprint" data-tippy="Cliquez pour copier" data-tippy-arrow="true") 
    |#{instructions.html[0]}
h5 Banière verticale
pre(class="prettyprint" data-tippy="Cliquez pour copier" data-tippy-arrow="true") 
    |#{instructions.html[1]}
h5 Banière mobile
pre(class="prettyprint" data-tippy="Cliquez pour copier" data-tippy-arrow="true") 
    |#{instructions.html[2]}
