
h4 Afin d'afficher la bannière sur votre site, vous devez ajouter le module et ses dépendances.
h5 Installer le package npm suivant.
pre(class="prettyprint" data-tippy="Cliquez pour copier" data-tippy-arrow="true") 
    |npm install @ionic-native/geolocation
h5 Ajouter le module dans votre code
pre(class="prettyprint" data-tippy="Cliquez pour copier" data-tippy-arrow="true") 
    |#{instructions.angularmodule}
h5 Ajouter le ficher Ad.ts à côté du fichier module et y ajouter le code suivant dedans.
pre(class="prettyprint" data-tippy="Cliquez pour copier" data-tippy-arrow="true") 
    |#{instructions.angularcomponent}