extends ../shared/_layout.pug

block content
    div.page-actions
        h3 Créer un profile

    form(method="post", action="/profile/create")
        div.row
            div.col-md-6.form-group
                label Identifiant
                input.form-control(name="identifier",  type='text'  placeholder = "veuillez saisir un Identifiant minimun 5 caracteres" )

            div.col-md-6.form-group
                label Type de profile
                input.form-control(name="type", type="text"  placeholder = "veuillez saisir un type de profile minimun 5 caracteres")
        div.row
            div.url-list.col-md-6
                label Liste des URL
                table.table(id="url-table")
                    col(width="90%")
                    col(width="10%")
                    tbody
                        tr
                            td(colspan=2)
                                input.form-control(name="urls[0]" type="url"  placeholder = "veuillez saisir un url https://www.exemple.com ")
                    tfoot
                        tr
                            td(colspan=2)
                                input.btn.btn-lg.btn-block.add-url(type="button" value="Ajouter un url" )
        button.btn.btn-primary(type="submit" ) Enregistrer



block javascript
    script(src="/javascripts/profile.js")
        script(src="https://cdn.jsdelivr.net/npm/exif-js")