extends ../shared/_layout.pug

block content
    div.page-actions
        h3 Modifier un profile

    form(action="/profile/edit", method="post")
        input.form-control(name="id", type="hidden", value=profile.id)
        div.row
            div.col-md-6.form-group
                label Identifiant
                input.form-control(name="identifier", type="text", value=profile.identifier )
            div.col-md-6.form-group
                label Type de profile
                input.form-control(name="type", type="text", value=profile.type )
        div.row
            div.url-list.col-md-6
                label Liste des URL
                table.table(id="url-table")
                    col(width="90%")
                    col(width="10%")
                    tbody
                        each url, i in profile.urls
                            tr
                                td(colspan=(i === 0 ? 2 : 1))
                                    input.form-control(name="urls[" + i + "]", type="url", value=url.url )
                                if i !== 0
                                    td
                                        input.ibtnDel.btn.btn-md.btn-danger(value="Supprimer")
                    tfoot
                        tr
                            td(colspan=2)
                                input.btn.btn-lg.btn-block.add-url(type="button" value="Ajouter un url")

        button.btn.btn-primary(type="submit") Enregistrer

block javascript
    script(src="/javascripts/profile.js")