extends ../shared/_layout.pug

block content
    div.page-actions
        a.btn.btn-info(href="/profile/create", role="button") Créer un profile

    table.table.table-striped.table-bordered.data-grid(id="profileGrid")
        thead
            tr
                th Identifiant
                th Type de profile
                th Nombre d'urls
                th.grid-actions Actions
        tbody
            each profile in profiles
                tr
                    td= profile.identifier
                    td= profile.type
                    td= profile.urls.length
                    td.grid-actions
                        a(href="/profile/edit/" + profile.id)
                            i.fa.fa-edit
                        a.delete-item(href="/profile/delete/" + profile.id)
                            i.fa.fa-trash

block javascript
    script(src="/javascripts/profile.js")