block sidebar
    nav(id="sidebar")
        div.sidebar-header
            h3 NAME
            strong :O
        ul.list-unstyled.components
            li.active
                a(href="/")
                    i.fa.fa-tachometer &nbsp;
                    span.sidevar-item Dashboard
            li
                a(href="/profile")
                    i.fa.fa-users &nbsp;
                    span.sidevar-item Profiles

            li
                a(href="/montant")
                   i.fa.fa-money &nbsp;
                   span.sidevar-item Dollar